@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {

    *{
        @apply ease-in-out duration-500
    }

    body{
        @apply ease-in-out duration-500 bg-[#090909] p-0 m-0 w-[100%] overflow-x-hidden
    }

    .container{
        @apply w-[360px] max-w-[360px] md:max-w-none 2xl:w-[1440px] xl:w-[1200px] lg:w-[990px] md:w-[680px] mx-auto
    }

    .topBarMenuList{
        @apply p-[7px] py-[10px] block hover:text-[#28AE60] ease-in-out duration-500
    }

    .mainHeaderMenuList{
        @apply p-[15px] py-[20px] block hover:text-[#28AE60] ease-in-out duration-500  text-[18px]
    }

    .skillWrapper{
        @apply w-[100%] xl:w-[360px] lg:w-[300px] text-white rounded-lg bg-[#292929] p-4 py-5 relative overflow-hidden pb-[25px]
    }

    .servicesCard{
        @apply w-[100%] md:w-[330px] lg:w-[315px] xl:w-[360px] rounded-md bg-[#292929] overflow-hidden px-5 py-4 duration-500 hover:bg-[#28ae6083]
    }

    .workCard{
        @apply w-[100%] md:w-[330px] lg:w-[315px] xl:w-[360px] hover:translate-y-[-20px] rounded-md bg-[#292929] px-5 relative py-4 duration-500 hover:bg-[#28ae6083]
    }

    .workCard2{
        @apply w-[100%] md:w-[330px] lg:w-[315px] xl:w-[360px] hover:translate-y-4 rounded-md bg-[#292929] px-5 relative py-4 duration-500 hover:bg-[#28ae6083]
    }

    .portfolioCard{
        @apply w-[100%] md:w-[330px] lg:w-[360px] rounded-md bg-[#292929] overflow-hidden hover:translate-y-[20px] duration-500
    }

    .mainBannerBlock{
        @apply  bg-[url('./../assets/images/mern2.jpg')]
    }

    /* .dashboardContainer{

    } */

    .active{
        @apply bg-[#ffffff46] scale-[1.04]
    }

    .cursorOutline{
        @apply w-[40px] h-[40px] rounded-full border-[3px] border-[#32dc79] z-[100] bg-transparent
    }

    .cursorDot{
        @apply w-[14px] h-[14px] rounded-full bg-[#32dc79] z-[100]
    }

    .cursorDot, .cursorOutline{
        @apply absolute pointer-events-none top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] transition-all duration-500
    }

}

.menuBlock::-webkit-progress-bar{
    width: 7px;
}

.logoBlock{
    animation: sliderRight 1.2s ease forwards;
}

.toheaderIcon{
    animation: sliderRight 1s ease forwards;
}

.emailBlock{
    animation: sliderleft 0.8s ease forwards;
}

.phoneBlock{
    animation: sliderleft 1s ease forwards;
}

.loginBtn{
    animation: sliderleft 1s ease forwards;
}

.menuItem{
    animation: fade 1s ease forwards;
}

.bannerHeading{
    animation: sliderTop 1s ease forwards;
}

.bannerPara{
    animation: sliderTop 1.3s ease forwards;
}

.bannerPara{
    animation: sliderTop 1.3s ease forwards;
}

.bannerBtnOne{
    animation: sliderTop 1.6s ease forwards;
}

.bannerBtnTwo{
    animation: sliderTop 1.9s ease forwards;
}

.heading2ndBlock{
    animation: sliderTop 1s ease forwards;
}

.para2ndBlock{
    animation: sliderTop 1.3s ease forwards;
}

.aboutmeBtn{
    animation: sliderTop 1.6s ease forwards;
}

.myImage{
    animation: continueAnimationOne 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 0.5s, 2s;
    opacity: 0;
}

/* keyframes */

@keyframes sliderRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes sliderTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes sliderleft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fade {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes continueAnimationOne {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes floatImage {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(30px);
    }

    100%{
        transform: translateY(0px);
    }
}
